@media (min-width: 1200px) {
  .footer-contact {
    align-items: flex-end !important;
  }

  .footer-logo {
    margin: 0 30px 0 -30px !important;
  }
}

@media (max-width: 1199px) {
  .footer-contact,
  .footer-logo,
  .footer-menu {
    align-items: center !important;
  }

  .banner>button {
    width: 160px !important;
    height: 45px !important;
  }
}

@media (max-width: 991px) {
  .banner>button {
    width: 141px !important;
    height: 33px !important;
    top: 61% !important;
    left: 14.5% !important;
  }
}

#transportAlert {
  background-color: #969FAA;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  color: #F7F7F7;
}

.header-logo {
  height: 65px;
}

.navbar {
  font-weight: bold;
  margin-left: 200px;
  margin-right: 200px;
}

.lnr {
  display: inline-block;
  fill: black;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  stroke-width: 2;
}

.andmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hinnad {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.pangalingid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.lnr-cart {
  width: 1.5em;
  height: 1.5em;
  color: black;
}

.navbar-nav li {
  margin-right: 3em;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ostukorv-container {
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.column-ostukorv {
  display: flex;
  flex-direction: column
}

.column-andmed {
  display: flex;
  min-width: 45%;
  max-width: 50%;
  flex-direction: column;
}

.counter_container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 6px;
  margin-top: 1rem;
}

.btn-toode {
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

section {
  margin-top: 40px;
}

.footer {
  margin-top: 40px;
  background-color: #47525E;
  min-height: 337px;
}

.footer-menu,
.footer-logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  min-height: 337px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  color: #F7F7F7;
  align-items: flex-start;
  min-height: 337px;
}

.footer-contact>label {
  margin-right: 193px;
}

.footer-menu>label {
  cursor: pointer;
  padding: 10px;
  color: #F7F7F7;
  font-size: 18px;
  font-weight: 700;
}

.footer-logo>* img {
  width: 183px;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 1104px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.banner>button {
  position: absolute;
  top: 63%;
  left: 12.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  background-color: #47525E;
  border: #47525E;
  border-radius: 5px;
  width: 192px;
  height: 50px;
}

.banner>img {
  width: 100%;
  height: auto;
}

.banner-switch {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.switch {
  cursor: pointer;
  margin: 6px;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
}

.switch-1 {
  background-color: #777777;
}

.product {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.product-picture {
  width: 250px;
  height: 250px;
}

.product-label {
  color: #47525E;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 500;
  padding: 10px 0;
}

.product-label-wrapper {
  display: flex;
  justify-content: center;
}

.headline {
  padding-top: 20px;
  color: #47525E;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 500;
}

.contact-email>input {
  margin-top: 13px;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 253px;
  height: 50px;
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
}

.contact-email>button {
  color: #47525E;
  font-family: Lato;
  font-size: 18px;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 155px;
  height: 50px;
}

.social-media {
  margin-right: 289px;
}

.social-media>img {
  cursor: pointer;
  margin-top: 25px;
  margin-right: 15px;
  height: 20px;
}