#transportAlert {
  background-color: #969FAA;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  color: #F7F7F7;
}

.header-logo {
  height: 65px;
}

.navbar {
  font-weight: bold;
  margin-left: 200px;
  margin-right: 200px;
}

.lnr {
  display: inline-block;
  fill: black;
  width: 1em;
  height: 1em;
  vertical-align: -0.05em;
  stroke-width: 2;
}

.andmed {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hinnad {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.lnr-cart {
  width: 1.5em;
  height: 1.5em;
  color: black;
}

.navbar-nav li {
  margin-right: 3em;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ostukorv-container {
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
}

.footer-container {
  display: flex;
  margin-left: 200px;
  margin-right: 200px
}

.column-ostukorv {
  display: flex;
  flex-direction: column
}

.column-andmed {
  display: flex;
  flex-direction: column;
}

.counter_container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 6px;
  margin-top: 1rem;
}

.btn-toode {
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}

section {
  margin-top: 40px;
}

.footer {
  margin-top: 40px;
  background-color: #47525E;
  height: 337px;
}

.footer-menu,
.footer-logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  min-height: 337px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: center;
  color: #F7F7F7;
  align-items: flex-end;
  min-height: 337px;
}

.footer-logo {
  margin-left: -30px;
  margin-right: 30px;
}

.footer-menu>label {
  padding: 10px;
  color: #F7F7F7;
  font-size: 18px;
  font-weight: 700;
}

.footer-logo>img {
  width: 183px;
}

.banner {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.banner-text>h2 {
  color: #1F2123;
  font-family: Merriweather;
  font-size: 33px;
  font-weight: 600;
}

.banner-text>p {
  color: #8190A5;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
}

.banner-text>button {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  background-color: #47525E;
  border: #47525E;
  border-radius: 5px;
  width: 192px;
  height: 50px;
}

.banner-img>img {
  height: 527px;
}

.product {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.product-picture {
  background-color: #E5E9F2;
  width: 250px;
  height: 250px;
}

.product-label {
  color: #47525E;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 500;
  padding: 10px 0;
}

.product-label-wrapper {
  display: flex;
  justify-content: center;
}

.headline {
  color: #47525E;
  font-family: Merriweather;
  font-size: 26px;
  font-weight: 500;
}